.floatFullWidth { 
        width: 100%;
        display: block;
        border-top: 1px solid #aa8899;
        border-left: 1px solid #aa8899;
}

.floatHalfWidth { 
        width: 43%;
        margin-right: 2%;
        float:left;
        display: inline;
        border-top: 1px solid #aa8899;
        border-left: 1px solid #aa8899;
}

.clearFix{
  clear: both;
  width: 100%;
}